<section class="benefits">
  <div class="container benefits-container">
    <div class="benefits-left-side">
      <ul class="benefits-list list">
        <li class="benefits-item">
          <p class="benefits-quantity">
            600 <sup class="benefits-decor">+</sup>
          </p>
          <p class="benefits-text">Satisfied customers per day</p>
        </li>
        <li class="benefits-item">
          <p class="benefits-quantity">
            50 <sup class="benefits-decor">+</sup>
          </p>
          <p class="benefits-text">Awards for excellent service</p>
        </li>
        <li class="benefits-item">
          <p class="benefits-quantity">
            20 <sup class="benefits-decor">+</sup>
          </p>
          <p class="benefits-text">Kyiv’s best barbers</p>
        </li>
        <li class="benefits-item">
          <p class="benefits-quantity">
            100 <sup class="benefits-decor">+</sup>
          </p>
          <p class="benefits-text">Gifts for regular customers</p>
        </li>
      </ul>
    </div>
    <div class="benefits-right-side">
      <p class="uppertitle">old traditional school</p>
      <h2 class="title">Why people come to&nbsp;us?</h2>
      <p class="undertitle">
        Only good things are said about us. But it's better to see and feel 1
        time than read 10 times.
      </p>
    </div>
  </div>
</section>
