<section class="gallery">
  <div class="container">
    <p class="gallery-uppertitle uppertitle">in Latin, "barba" means "beard"</p>
    <h2 class="visually-hidden">Our gallery</h2>
    <ul class="gallery-list card-set list">
      <li class="gallery-item card-set__item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-img-1@1x_lg.webp 1x,
              ./images/gallery/gallery-img-1@2x_lg.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-img-1@1x_lg.jpg 1x,
              ./images/gallery/gallery-img-1@2x_lg.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img-1@1x_md.webp 1x,
              ./images/gallery/gallery-img-1@2x_md.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img-1@1x_md.jpg 1x,
              ./images/gallery/gallery-img-1@2x_md.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-img-1@1x_sm.webp 1x,
              ./images/gallery/gallery-img-1@2x_sm.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-img-1@1x_sm.jpg 1x,
              ./images/gallery/gallery-img-1@2x_sm.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/gallery/gallery-img-1@1x_sm.jpg"
            alt="gallery"
            width="418"
            height="360"
            loading="lazy"
          />
        </picture>
        <div class="gallery-wrap">
          <p class="gallery-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ea
            molestias beatae pariatur ratione in, ab nam enim voluptatem.
          </p>
        </div>
      </li>
      <li class="gallery-item card-set__item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-img-2@1x_lg.webp 1x,
              ./images/gallery/gallery-img-2@2x_lg.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-img-2@1x_lg.jpg 1x,
              ./images/gallery/gallery-img-2@2x_lg.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img-2@1x_md.webp 1x,
              ./images/gallery/gallery-img-2@2x_md.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img-2@1x_md.jpg 1x,
              ./images/gallery/gallery-img-2@2x_md.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-img-2@1x_sm.webp 1x,
              ./images/gallery/gallery-img-2@2x_sm.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-img-2@1x_sm.jpg 1x,
              ./images/gallery/gallery-img-2@2x_sm.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/gallery/gallery-img-2@1x_sm.jpg"
            alt="gallery"
            width="418"
            height="360"
            loading="lazy"
          />
        </picture>
        <div class="gallery-wrap">
          <p class="gallery-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ea
            molestias beatae pariatur ratione in, ab nam enim voluptatem.
          </p>
        </div>
      </li>
      <li class="gallery-item card-set__item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-img-3@1x_lg.webp 1x,
              ./images/gallery/gallery-img-3@2x_lg.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-img-3@1x_lg.jpg 1x,
              ./images/gallery/gallery-img-3@2x_lg.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img-3@1x_md.webp 1x,
              ./images/gallery/gallery-img-3@2x_md.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img-3@1x_md.jpg 1x,
              ./images/gallery/gallery-img-3@2x_md.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-img-3@1x_sm.webp 1x,
              ./images/gallery/gallery-img-3@2x_sm.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-img-3@1x_sm.jpg 1x,
              ./images/gallery/gallery-img-3@2x_sm.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/gallery/gallery-img-3@1x_sm.jpg"
            alt="gallery"
            width="418"
            height="360"
            loading="lazy"
          />
        </picture>
        <div class="gallery-wrap">
          <p class="gallery-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ea
            molestias beatae pariatur ratione in, ab nam enim voluptatem.
          </p>
        </div>
      </li>
      <li class="gallery-item card-set__item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-img-4@1x_lg.webp 1x,
              ./images/gallery/gallery-img-4@2x_lg.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-img-4@1x_lg.jpg 1x,
              ./images/gallery/gallery-img-4@2x_lg.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img-4@1x_md.webp 1x,
              ./images/gallery/gallery-img-4@2x_md.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-img-4@1x_md.jpg 1x,
              ./images/gallery/gallery-img-4@2x_md.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-img-4@1x_sm.webp 1x,
              ./images/gallery/gallery-img-4@2x_sm.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-img-4@1x_sm.jpg 1x,
              ./images/gallery/gallery-img-4@2x_sm.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/gallery/gallery-img-4@1x_sm.jpg"
            alt="gallery"
            width="418"
            height="360"
            loading="lazy"
          />
        </picture>
        <div class="gallery-wrap">
          <p class="gallery-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ea
            molestias beatae pariatur ratione in, ab nam enim voluptatem.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
