<section class="hero">
  <div class="hero__container container">
    <div class="hero__left-side">
      <ul class="hero__media-list media-list list">
        <li class="media-list__item">
          <a class="media-list__link link" href="">Instagram</a>
        </li>
        <li class="media-list__item">
          <a class="media-list__link link" href="">Youtube</a>
        </li>
      </ul>
    </div>
    <div class="hero__right-side">
      <p class="uppertitle uppertitle--theme-dark">
        A hair salon for men in Kyiv
      </p>
      <h1
        class="main-title animate__animated animate__flipInX animate__delay-2s"
      >
        BarberShop
      </h1>
      <p class="hero__undertitle undertitle undertitle--theme-dark">
        We are experts in trendy men’s haircuts. We work quickly, carefully and
        with style.
      </p>
    </div>

    <div class="slider">
      <ul class="slider__controls list">
        <li class="slider__item">
          <button class="slider__btn slider__btn--disabled" type="button">
            Back
          </button>
        </li>
        <li class="slider__item">
          <button class="slider__btn" type="button">Forward</button>
        </li>
      </ul>
      <ul class="slider__pagination list">
        <li class="slider__pagination-item slider-pagination-item--active"></li>
        <li class="slider__pagination-item"></li>
        <li class="slider__pagination-item"></li>
      </ul>
    </div>
  </div>
</section>
