<div class="backdrop backdrop--hidden js-menu-container">
  <div class="mobile-menu">
    <button class="mobile-menu-btn js-close-menu" type="button">
      <svg width="19" height="19">
        <use href="./images/sprite.svg#menu-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a href="" class="mobile-menu-link link">About</a>
      </li>
      <li class="mobile-menu-item">
        <a href="" class="mobile-menu-link link">Contacts</a>
      </li>
      <li class="mobile-menu-item">
        <a href="" class="mobile-menu-link link">Services and prices</a>
      </li>
      <li class="mobile-menu-item">
        <a href="" class="mobile-menu-link link">Barbers</a>
      </li>
    </ul>

    <div class="mobile-menu-group">
      <a class="mobile-menu-link link" href="">+38 044 111 11 11</a>
      <button class="btn mobile-menu-group-btn" type="button" data-modal-open>
        online-booking
      </button>
    </div>

    <ul class="mobile-media-list">
      <li class="mobile-media-item">
        <a href="" class="mobile-media-link link">Instagram</a>
      </li>
      <li class="mobile-media-item">
        <a href="" class="mobile-media-link link">Youtube</a>
      </li>
    </ul>
  </div>
</div>
