<div class="backdrop backdrop--hidden" data-modal>
  <div class="modal">
    <button class="modal-btn" type="button" data-modal-close>
      <svg class="modal-icon" width="15" height="15">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <form class="register-form" name="register-form">
      <strong class="register-title"
        >Leave your details, we will call you back</strong
      >
      <div class="register-group" role="group">
        <label class="register-wrap">
          <span class="register-label">Name</span>
          <input class="register-field" name="user-name" type="text" />
          <svg class="register-icon" width="18" height="18">
            <use href="./images/sprite.svg#profile"></use>
          </svg>
        </label>
        <label class="register-wrap">
          <span class="register-label">Phone</span>
          <input class="register-field" name="user-phone" type="tel" />
          <svg class="register-icon" width="18" height="18">
            <use href="./images/sprite.svg#mobile"></use>
          </svg>
        </label>
        <label class="register-wrap">
          <span class="register-label">Email</span>
          <input class="register-field" name="user-mail" type="email" />
          <svg class="register-icon" width="18" height="18">
            <use href="./images/sprite.svg#envelope"></use>
          </svg>
        </label>
        <label class="register-wrap">
          <span class="register-label">Message</span>
          <textarea
            class="register-message"
            name="user-message"
            rows="5"
            placeholder="Leave your message..."
          ></textarea>
        </label>
      </div>

      <label class="register-agreement">
        <input
          class="register-checkbox visually-hidden"
          type="checkbox"
          name="user-agreement"
        />
        <svg class="register-agreement-icon" width="16" height="15">
          <use class="icon-uncheck" href="./images/sprite.svg#unchecked"></use>
          <use class="icon-check" href="./images/sprite.svg#checked"></use>
        </svg>
        <span class="register-agreement-text">
          Agree with the mailing and accept
          <a class="register-agreement-link" href="" target="_blank">
            the Terms of the Agreement
          </a>
        </span>
      </label>

      <button class="register-btn btn" type="submit">
        Send
        <svg width="24" height="24">
          <use href="./images/sprite.svg#send"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
