<section class="price price--centered" id="price">
  <div class="container">
    <p class="uppertitle uppertitle--theme-dark">
      spend your time with the best masters
    </p>
    <h2 class="title title--theme-dark">Services and prices</h2>
    <div class="price__block">
      <ul class="price-list">
        <li class="price-list__item">
          <span class="price-list__meta">Men’s haircut</span>
          <span class="price-list__cost">from 300 uah.</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__meta">Beard trim </span>
          <span class="price-list__cost">from 300 uah.</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__meta">Mustache trim</span>
          <span class="price-list__cost">from 200 uah.</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__meta">Straight razor shave </span>
          <span class="price-list__cost">from 200 uah.</span>
        </li>
      </ul>
      <ul class="price-list">
        <li class="price-list__item">
          <span class="price-list__meta">Trainee’s haircut</span>
          <span class="price-list__cost">from 50 uah.</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__meta">Haircut under the nozzle</span>
          <span class="price-list__cost">from 200 uah.</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__meta"
            >Children’s haircut (0&#8209;12&nbsp;y.o.)</span
          >
          <span class="price-list__cost">from 300&nbsp;uah.</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__meta">Camouflage of gray hair</span>
          <span class="price-list__cost">from 200 uah.</span>
        </li>
      </ul>
    </div>
    <button
      class="price__btn btn btn--theme-dark"
      type="button"
      data-modal-open
    >
      online-booking
    </button>
  </div>
</section>
