<section class="team" id="team">
  <div class="container team-container">
    <p class="uppertitle">for true enjoyers of the atmosphere</p>
    <h2 class="team-title title">Our barbers</h2>
    <ul class="team-list card-set list">
      <li class="team-item card-set__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-1@1x_lg.jpg 1x,
              images/team/team-1@2x_lg.jpg   2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-1@1x_md.jpg 1x,
              images/team/team-1@2x_md.jpg   2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-1@1x_sm.jpg 1x,
              images/team/team-1@2x_sm.jpg   2x
            "
          />
          <img
            src="./images/team/team-1@1x_sm.jpg"
            alt="John Smith"
            width="450"
            height="346"
            loading="lazy"
          />
        </picture>
        <div class="team-wrap">
          <h3 class="team-name">John Smith</h3>
          <p class="team-position">Extreme Barber</p>
          <ul class="socials list">
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://instagram.com"
                target="_blank"
                rel="nofollow noopener noreferrer"
                aria-label="Instagram"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://twitter.com"
                aria-label="Twitter"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://facebook.com"
                aria-label="Facebook"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://linkedin.com"
                aria-label="LinkedIn"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item card-set__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-2@1x_lg.jpg 1x,
              images/team/team-2@2x_lg.jpg   2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-2@1x_md.jpg 1x,
              images/team/team-2@2x_md.jpg   2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-2@1x_sm.jpg 1x,
              images/team/team-2@2x_sm.jpg   2x
            "
          />
          <img
            src="./images/team/team-2@1x_sm.jpg"
            alt="Michele Doe"
            width="450"
            height="346"
            loading="lazy"
          />
        </picture>
        <div class="team-wrap">
          <h3 class="team-name">Michele Doe</h3>
          <p class="team-position">Extreme Barber</p>
          <ul class="socials list">
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://instagram.com"
                target="_blank"
                rel="nofollow noopener noreferrer"
                aria-label="Instagram"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://twitter.com"
                aria-label="Twitter"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://facebook.com"
                aria-label="Facebook"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://linkedin.com"
                aria-label="LinkedIn"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item card-set__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-3@1x_lg.jpg 1x,
              images/team/team-3@2x_lg.jpg   2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-3@1x_md.jpg 1x,
              images/team/team-3@2x_md.jpg   2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-3@1x_sm.jpg 1x,
              images/team/team-3@2x_sm.jpg   2x
            "
          />
          <img
            src="./images/team/team-3@1x_sm.jpg"
            alt="Alan Black"
            width="450"
            height="346"
            loading="lazy"
          />
        </picture>
        <div class="team-wrap">
          <h3 class="team-name">Alan Black</h3>
          <p class="team-position">Extreme Barber</p>
          <ul class="socials list">
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://instagram.com"
                target="_blank"
                rel="nofollow noopener noreferrer"
                aria-label="Instagram"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://twitter.com"
                aria-label="Twitter"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://facebook.com"
                aria-label="Facebook"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://linkedin.com"
                aria-label="LinkedIn"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
